@model Test.Web.Helpers.StudentVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Student</h1>
    <p></p>

    <form autocomplete="off" class="needs-validation" id="FormApp">

        <hr />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Id, new { @class = "form-control input-govco", @hidden = "true" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            @Html.LabelFor(m => m.DocumentNumber)
                            @Html.TextBoxFor(m => m.DocumentNumber, new { @class = "form-control input-govco", @placeholder = "#", @required = "required" , onclick = "reset" })
                            @Html.ValidationMessageFor(m => m.DocumentNumber)
                        </div>

                    </div>
                    <div class="col-md-3">
                        <br />
                        <a id="validar" class="btn btn-round btn-high btn-long" style="background-color: #343a40;color:white"
                           href="javascript:validar()">
                            Validar
                        </a>
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-govco", @placeholder = "@", @required = "required", @name = "Email" , disabled = "disabled" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control input-govco", @placeholder = "Nombre Estudiante", @required = "required" , disabled = "disabled" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.LastName)
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control input-govco", @placeholder = "Apellido Estudiante", @required = "required" , disabled = "disabled" })
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
            </div>
        </div>
        <hr />


        <div class="row my-5">
            <div class="col-md-12 text-center">


                <a id="save" hidden class="btn btn-round btn-high btn-long" style="background-color: #343a40;color:white"
                   href="javascript:estaSeguroCrear()">
                    GUARDAR
                </a>

                <a id="update" hidden class="btn btn-round btn-high btn-long" style="background-color: #343a40;color:white"
                   href="javascript:actualizarEstudiante()">
                    ACTUALIZAR
                </a>

                <a id="limpiar" class="btn btn-round btn-high btn-long" style="background-color: #343a40;color:white"
                   href="javascript:limpiar()">
                    LIMPIAR
                </a>


            </div>
        </div>



    </form>


    <hr />

    @if (Model.StudentAM != null)
    {
        <br /> <h1 class="display-4">Estudiantes Creados</h1>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"># Documento</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.StudentAM.OrderByDescending(x => x.Id))
                {
                    <tr>
                        <th scope="row"> @item.Id </th>
                        <td> @item.DocumentNumber </td>
                        <td> @item.Name </td>
                        <td> @item.LastName </td>
                        <td>
                            <a id="update" class="btn btn-round btn-high btn-long" style="background-color: #343a40;color:white;"
                               href="javascript:estaSeguroBorrar(@item.Id)">
                                Borrar
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />
    }



</div>


<script src="~/js/Student/Estudiante.js"></script>